<h2>Sign up</h2>

<% resource.build_profile %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_messages %>
  <div class="form-inputs">
    <%= f.simple_fields_for :profile do |p| %>
      <%= p.input :first_name, :required => true %>
      <%= p.input :last_name, :required => true %>
    <% end %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true, :hint => "u r password" %>
    <%= f.input :password_confirmation, :required => true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
